.conveyor-wrapper {
  border-bottom: 4px solid black;
  display: flex;
  justify-content: space-between;
}

.conveyor-wrapper .element {
  padding: 30px 50px;
  border: 1px solid red;
  font-size: 3em;
}
