@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

html,
body {
  background: #28baef;
}

h1,
h5 {
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-family: "Bangers", cursive;
}

.conveyor-wrapper {
  border-bottom: 4px solid #666666;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.biscuit {
  margin-top: 50px;
  width: 80px;
  height: 80px;
  background-image: url("./assets/biscuit.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.moving-biscuit {
  position: absolute;
  animation: rotate 2s infinite linear;
}

.static-biscuit {
  margin-top: 0px;
}

.box > div {
  display: flex;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.belt {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.machine-component {
  border: 1px solid yellow;
  width: 33.3%;
}

.box {
  border: 1px solid orange;
  width: 20%;
}

img {
  width: 100px;
  height: 100px;
}

/* .conveyor-wrapper .element {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} */

/* .oven {
  height: 150px;
  width: 370px;
  background-image: url("./assets/oven.png");
}

.extruder {
  width: 100px;
  height: 100px;
  background-image: url("./assets/extruder.png");
}

.stamper {
  width: 72px;
  height: 100px;
  background-image: url("./assets/stamper.png");
} */

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  padding: 1.5em 2em;
}

nav ul li a {
  font-family: "Bangers", cursive;
  color: white;
  text-decoration: none;
}
