@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

:root {
  --main-color: #ffa60b;
  --hover-color: #ff500b;
  --cold-color: #78adce;
}

html,
body {
  height: 100%;
  background: #161517;
  font-family: "Bangers", cursive;
}

#root {
  height: 100%;
}

h1,
h2,
h5 {
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.machine-component-name {
  font-size: 1.3em;
}

.conveyor-wrapper {
  border-bottom: 4px solid var(--main-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}

.biscuit-line {
  margin-top: 130px;
}

/* Biscuit Component */

.biscuit {
  margin-top: 50px;
  width: 80px;
  height: 80px;
  background-image: url("./assets/biscuit.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.moving-biscuit {
  position: absolute;
  animation: rotate 2s infinite linear;
}

.static-biscuit {
  margin-top: 0px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 100px;
  max-width: 300px;
}

.image-wrapper img {
  width: 100%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Biscuit Component */

/* Box Component */

.box > div {
  display: flex;
}

.box {
  width: 20%;
}

.box .biscuit {
  transform: scale(0.1);
  animation: grow 400ms forwards;
}

@keyframes grow {
  100% {
    transform: scale(1);
  }
}

/* Box Component */

/* Machine Components */
.belt {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.machine-component {
  width: 33.3%;
}

.oven {
  height: 150px;
  width: 370px;
  background-image: url("./assets/oven.png");
}

.extruder {
  width: 100px;
  height: 100px;
  background-image: url("./assets/extruder.png");
}

.stamper {
  width: 72px;
  height: 100px;
  background-image: url("./assets/stamper.png");
}

/* Machine Components */

/* Navigation Component */

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  padding: 1.5em 2em;
}

ul {
  padding-left: 0;
}

nav ul li a {
  color: var(--main-color);
  font-size: 2em;
  text-decoration: none;
  transition: all 400ms ease-in-out;
}

nav ul li a:hover {
  color: var(--hover-color);
  transform: translateY(-5px) scale(0.9);
}

/* Navigation Component */

/* Controls-Component */

.controls-wrapper {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.controls-wrapper button {
  font-size: 1.5em;
  color: white;
  padding: 10px 20px;
  background-color: #140f0f36;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.controls-wrapper button:hover {
  color: var(--hover-color);
  transform: translateY(-5px) scale(0.9);
}

.controls-wrapper span {
  transition: color 400ms ease-in-out;
}

.heating-element-on {
  color: var(--hover-color);
}

.heating-element-off {
  color: var(--cold-color);
}

/* Controls-Component */

/* Login/Register Form */

.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  color: var(--main-color);
}

.form-wrapper input[type="text"],
input[type="password"],
input[type="email"] {
  margin: 5px 0;
  outline: none;
  border: none;
  padding: 5px;
  min-width: 200px;
  margin-left: 20px;
  background-color: #140f0f36;
  box-shadow: 0 4px 2px -2px var(--main-color);
  color: white;
}

.form-wrapper form {
  margin: 0 auto;
}

.form-wrapper label {
  font-size: 1.4em;
}

.form-wrapper button {
  font-size: 1.4em;
  background-color: var(--main-color);
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  min-width: 200px;
  border-radius: 8px;
  transition: all 400ms ease-in-out;
}

.form-wrapper button:hover {
  transform: translateY(-5px) scale(0.9);
}

.validation-errors-wrapper {
  margin: 0 auto;
}

.validation-error {
  color: white;
  font-size: 0.8em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Login/Register Form */

/* Logs */

.logs {
  color: white;
  transition: all 1s ease-in;
}

.logs-and-users-wrapper {
  display: flex;
  justify-content: space-around;
}

.logs-and-users-wrapper h2 {
  padding-bottom: 5px;
  box-shadow: 0 3px 2px -2px var(--main-color);
}

.clear-logs {
  background-color: #140f0f36;
  border: 1px solid var(--main-color);
  cursor: pointer;
  color: white;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 0.9em;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: all 400ms ease-in-out;
}

.clear-logs:hover {
  color: var(--hover-color);
  transform: translateY(-5px) scale(0.9);
}

/* Logs */

/* Machine Specifications */

.number-control {
  color: white;
  display: flex;
  font-size: 1.4em;
  padding: 5px;
}

.number-control .number {
  padding: 0 10px;
}

.number-control button {
  color: var(--main-color);
  background-color: #140f0f36;
  outline: none;
  border: none;
  cursor: pointer;
}

.number-control label {
  margin-right: 10px;
}

.save-specs {
  margin-top: 30px;
  color: white;
}

.save-specs button {
  display: block;
  font-size: 1.2em;
  color: white;
  padding: 10px 20px;
  background-color: #140f0f36;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all 400ms ease-in-out;
  margin: 0 auto;
  border-radius: 8px;
}

.save-specs button:hover {
  color: var(--hover-color);
  transform: translateY(-5px) scale(0.9);
}

.time-input {
  color: white;
  display: flex;
  font-size: 1.4em;
  padding: 5px;
}

.time-input label {
  margin-right: 10px;
}

.saved-text {
  margin-top: 10px;
  color: var(--main-color);
  text-align: center;
  transition: all 400ms ease-in-out;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
